{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"> {% endblock %} {% block content %}
<div class="container container-fluid">
    <section class="login" id="pitches">
        <div class='head'>
            <h1 class='company'> ~ Explore ~ </h1>
        </div>
        <div class="pitches-inn">
            <ul>
                {% for pitch in pitches %}
                <li>
                    <div class="quote">
                        <p id="pitch-msg">
                            {{ pitch.message }}
                        </p>
                        <br>
                        <div id="panga">
                            <p id="pitch-author">
                                Author: {{pitch.author}}
                            </p>
                            <p id="pitch-category">
                                Category: {{pitch.category}}
                            </p>
                            <p id="post-at">
                                Posted at: {{pitch.date_posted.strftime('%d-%m-%Y')}}
                            </p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if current_user.is_authenticated %}
            <center>
                <hr>
            </center>
            {% else %}
            <p class="publish"> Post a pitch? <a href="{{url_for('auth.login')}}">Login</a></p>
            {% endif %}
        </div>
    </section>
    <br> {% if current_user.is_authenticated %}
    <section class='login' id='login'>
        <div class='head'>
            <h3 id="greeting"> pitch-me </h3>
        </div>
        <div class='form'>
            {{wtf.quick_form(form)}}
        </div>
    </section>
    {% endif %}
</div>

{% endblock%}